{% extends 'layout.html' %}

{% block body %}
    <h1>Connect to BIG-IP</h1>
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="">
        <div class="form-group">
            {{ render_field(form.host, class_="form-control") }}
        </div>
        <div class="form-group">
            {{ render_field(form.uname, class_="form-control") }}
        </div>
        <div class="form-group">
            {{ render_field(form.upass, class_="form-control") }}
        </div>
        <p><input type="submit" class="btn btn-primary" value="Connect"></p>
    </form>

{% endblock %}